@tailwind base;
@tailwind components;
@tailwind utilities;

// See Alpine.js: https://alpinejs.dev/directives/cloak
[x-cloak] { display: none !important; }

.trix {
  @apply w-full;
}

.trix h1 {
  @apply leading-7 font-semibold mb-4;

  font-size: 2rem !important;
  line-height: 2rem !important;
}

.trix h2 {
  @apply leading-6 font-semibold mb-4;

  font-size: 1.5rem !important;
  line-height: 1.5rem !important;
}

.trix h3 {
  @apply leading-5 font-semibold mb-4;

  font-size: 1.25rem !important;
  line-height: 1.25rem !important;
}

.trix a:not(.no-underline) {
  @apply underline;
}

.trix a:visited {
  color: green;
}

.trix ul {
  padding-left: 1rem;
  list-style-type: disc;
}

.trix ol {
  padding-left: 1rem;
  list-style-type: decimal;
}

.trix pre {
  display: inline-block;
  vertical-align: top;
  overflow-x: auto;
  width: 100%;
  padding: .5em;
  background-color: #EEE;
  font-size: 1.5em;
  font-family: monospace;
  white-space: pre;
}

.trix blockquote {
  margin-left: .3em;
  padding-left: .6em;
  border: 0 solid #CCC;
  border-left-width: 0;
  border-left-width: .3em;
}

.trix-button-group--file-tools {
  display: none!important;
}

.trix ul,
.trix p {
  margin-bottom: 2rem;
}
