.g-container {
  width: calc($container-width - ($column-width + $column-gutter));
  max-width: $row-width;
  margin: 0 auto;
}

.g-row {

  @for $i from 1 through $total-columns {
    &.-c#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
    &.-pc#{$i} {
      padding: 0 gridpd($i);
    }
  }

  @for $i from 1 through 4 {
    &.-gc#{$i} {
      gap: $vr gridcol($i, 22);
    }
  }

  position: relative;
  display: grid;
  gap: $vr $column-gutter;
  width: $container-width;

  &.-vcenter {
    align-items: center;
  }

  &.-vbottom {
    align-items: flex-end;
  }

  &.-gc0 {
    gap: 0;
  }
}
