//  Paragraphs
//  ───────────────────────────────────
p,
.a-text {
  max-width: 100%;
  font-size: 1.6rem;
  font-family: $font-regular;
  line-height: 1.25;
  text-transform: none;

  &.-medium {
    font-size: 2.2rem;
  }

  &.-big {
    font-size: 2.6rem;
  }

  &.-small {
    font-size: 1.4rem;
  }
}

strong, b, .-bold { color: var(--primary); }
em, .-italic { font-style: italic; }

.-upp {
  text-transform: uppercase;
}

//  Headings
//  ───────────────────────────────────
h1,
.a-h1 {
  font-weight: 400;
  font-size: 3.2rem;
  font-family: $font-title;
  line-height: .95;
  text-transform: uppercase;

  @media #{$lg} {
    font-size: 11.2rem;
  }
}

h2,
.a-h2 {
  font-weight: 400;
  font-size: 2.8rem;
  font-family: $font-title;
  line-height: 1.20;
  text-transform: uppercase;

  @media #{$lg} {
    font-size: 4.6rem;
  }
}

h3,
.a-h3 {
  font-weight: 400;
  font-size: 2.4rem;
  font-family: $font-title;
  line-height: 1.20;
  text-transform: uppercase;

  @media #{$lg} {
    font-size: 3.2rem;
  }
}

h4,
.a-h4 {
  font-size: 2rem;
  font-family: $font-title;
  line-height: 1.20;
  text-transform: uppercase;

  @media #{$lg} {
    font-size: 2.4rem;
  }
}

h5,
.a-h5 {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: $font-title;
  line-height: 1.20;
  text-transform: uppercase;
}

h6,
.a-h6 {
  color: var(--primary);
  font-size: 1.4rem;
  font-family: $font-title;
  line-height: 1.20;
  text-transform: uppercase;
}

.a-bigTitle {
  font-weight: 400;
  font-size: 3.2rem;
  font-family: $font-title;
  line-height: .95;
  text-transform: uppercase;

  @media #{$lg} {
    font-size: 13.4rem;
  }
}

//  List
//  ───────────────────────────────────

ol, ul {
  list-style-position: outside;
  font-size: 1.6rem;
  font-family: $font-regular;
  line-height: 1.25;

  &:not(.no-bullet) {
    padding-left: 1.5rem;
  }

  &.no-bullet {
    &, ul, ol {
      list-style: none;
    }
  }
}

//  Links
//  ───────────────────────────────────

a,
.a-link {
  display: inline-block;
  font-family: $font-regular;
  text-decoration: underline;
  cursor: pointer;
  transition: color $anim;

  &.-active,
  &:hover, &:focus {
    color: var(--primary);
  }

  &.-no-underline {
    text-decoration: none;
  }

  &.-icon {
    display: inline-flex;
    align-items: center;

    .icon {
      margin-right: 1rem;
    }
  }
}
