.o-cards {
  display: grid;
  gap: $column-gutter;

  .m-card {
    transition: opacity $anim;

    .icon {
      transition: color $anim;
    }
  }
  @media (hover: hover) and (any-pointer: fine) {
    &:hover, &:focus {
      .m-card:not(.is-visible) {
        opacity: .6;

        .icon {
          color: clr(cblack);
        }
      }
    }
  }

  @media #{$lg} {
    grid-template-columns: repeat(2, 1fr);
  }
}
