.o-creators {
  position: relative;
  padding-bottom: 4rem;

  .m-creator {
    height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: col(12);
    height: calc(100% - 3rem);
    border-radius: 0 $radius;
    background-color: clr(cgray);
    opacity: 0;
    transition: transform $anim-duration * 3 $anim-easing, opacity $anim-duration * 3 $anim-easing;
    transform: scale(.7);
    transform-origin: center center;
  }

  &.is-inview {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__list {
    position: relative;
    z-index: 1;
    display: flex;
    gap: $column-gutter;

    li:nth-of-type(4),
    li:nth-of-type(5),
    li:nth-of-type(6) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: calc(70% - 1.3rem);
      height: 100%;
    }

    li:nth-of-type(5) {
      left: calc(70% + 1.4rem);
    }

    li:nth-of-type(6) {
      left: calc(140% + 1.4rem);
    }
  }

  &__buttons {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    margin-left: -2px;

    .icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  @media #{$sm-only} {
    &__list {
      overflow: auto;
      padding: 0 calc($column-gutter / 2);

      > li {
        flex: 0 0 70%;
        width: 70%;
      }

      li:nth-of-type(4) {
        left: calc($column-gutter / 2);
      }
    }
  }

  @media #{$md} {
    padding-bottom: 8rem;

    &::before {
      right: 5rem;
      width: calc(col(11  ) - 10rem);
      height: calc(100% - 10rem);
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      li:nth-of-type(4),
      li:nth-of-type(5),
      li:nth-of-type(6) {
        width: calc(33.333% - 1.3rem);
      }

      li:nth-of-type(5) {
        left: calc(33.333% + .7rem);
      }

      li:nth-of-type(6) {
        left: calc(66.666% + 1.4rem);
      }
    }
  }

  @media #{$lg} {
    &__buttons {
      flex-direction: column;
      margin-bottom: 0;

      button {
        order: 1;
      }
    }
  }
}
