.o-creators {
  position: relative;
  padding-bottom: 4rem;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: col(12);
    height: calc(100% - 3rem);
    border-radius: 0 $radius;
    background-color: clr(cgray);
    opacity: 0;
    transition: transform $anim-duration * 3 $anim-easing, opacity $anim-duration * 3 $anim-easing;
    transform: scale(.7);
    transform-origin: center center;
  }

  &.is-inview {
    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__list {
    position: relative;
    z-index: 1;
    display: flex;
    gap: $column-gutter;

    li:nth-of-type(4),
    li:nth-of-type(5),
    li:nth-of-type(6) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: calc(33.333% - 1.3rem);
    }

    li:nth-of-type(5) {
      left: calc(33.333% + .7rem);
    }

    li:nth-of-type(6) {
      left: calc(66.666% + 1.4rem);
    }
  }

  &__buttons {
    display: flex;
    gap: 2rem;
  }

  @media #{$sm-only} {
    &__list {
      overflow: auto;
      padding: 0 calc($column-gutter / 2);

      > li {
        flex: 0 0 80%;
        width: 80%;
      }
    }

    &__buttons {
      margin-bottom: 3rem;
    }
  }

  @media #{$md} {
    padding-bottom: 8rem;

    &::before {
      width: col(11);
      height: calc(100% - 10rem);
    }

    &__buttons {
      flex-direction: column;

      button {
        order: 1;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
