.o-creators {
  position: relative;
  padding-bottom: 8rem;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: col(11);
    height: calc(100% - 10rem);
    border-radius: 0 $radius;
    background-color: clr(cgray);
  }

  &__list {
    z-index: 1;
    display: flex;
    gap: $column-gutter;
  }

  &__buttons {
    display: flex;
    gap: 2rem;
  }

  @media #{$sm-only} {
    &__list {
      overflow: auto;

      > li {
        flex: 0 0 80%;
        width: 80%;
      }
    }
  }

  @media #{$md} {
    &__buttons {
      flex-direction: column;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
