.o-footer {
  position: relative;
  padding: 12rem 0 8rem;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 21rem;
    z-index: 0;
    width: col(10);
    height: calc(100% - 68rem);
    border-radius: 0 0 0 $radius;
    background-color: var(--primary-light);
  }

  .g-row {
    z-index: 1;
  }

  &__bottom {
    display: flex;
    flex-flow: row wrap;
    gap: col(1);
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 3.4rem;
    border-radius: 10px;
    background-color: clr(cwhite);
  }

  &__mentions {
    display: flex;
    gap: 4rem;
    align-items: center;

    &, p {
      font-size: 1.2rem;
    }
  }

  &__logo {
    .icon {
      width: 17.6rem;
      height: 3rem;
    }
  }

  @media #{$sm-only} {
    &__contact {
      margin-top: $vr;
    }

    &__logo {
      margin-top: 7.6rem;
      margin-bottom: 4rem;
    }

    .a-button.-tertiary {
      width: 100%;
    }

    .o-menu__nav {
      display: none;
    }
  }

  @media #{$md} {
    &::after {
      bottom: 0;
      width: col(4);
      height: calc(100% - 15rem);
      border-radius: 0 $radius;
    }

    &__bottom {
      padding: 3.5rem 3.5rem 3.5rem 0;
    }

    .o-menu__nav {
      margin-left: auto;
    }
  }
}
