.o-header {
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 50;
  // width: 100%;
  padding: 4rem 0;

  &__logo {
    .icon {
      width: 16.8rem;
      height: 4rem;
      pointer-events: none;
    }
  }

  &__menu {
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
  }

  @media #{$md} {
    padding: 6rem 0;

    &__logo {
      margin-top: -1rem;

      .icon {
        width: 21.8rem;
        height: 5rem;
      }
    }
  }
}
