.o-logos {
  display: flex;
  flex-wrap: wrap;
  gap: $column-gutter;
  align-items: center;
  justify-content: space-between;

  li {
    width: 45%;
    opacity: 0;
    transition: transform $anim-duration * 3 $anim-easing $anim-duration * 2, opacity $anim-duration * 3 $anim-easing $anim-duration * 2;
    transform: scale(.7);
    transform-origin: center center;

    &.is-inview {
      opacity: 1;
      transform: scale(1);
    }
  }

  img {
    margin: 0 auto;
  }

  @media #{$md} {
    gap: 4rem $column-gutter;

    li {
      width: 20%;
    }
  }
}
