.o-logos {
  display: flex;
  flex-wrap: wrap;
  gap: $column-gutter;
  align-items: center;
  justify-content: space-between;

  li {
    min-width: 20%;
  }

  img {
    margin: 0 auto;
  }

  @media #{$md} {
    gap: 4rem $column-gutter;
  }
}
