.o-testimonies {
  position: relative;
  display: flex;
  gap: 1rem;
  padding-top: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: subcol(7, 8);
    height: 50%;
    border-radius: 0 $radius;
    background-color: var(--primary-light);
    opacity: 0;
    transition: transform $anim-duration * 3 $anim-easing, opacity $anim-duration * 3 $anim-easing;
    transform: scale(.7);
    transform-origin: center center;
  }

  .a-blockquote {
    position: relative;
    z-index: 1;

    // width: subcol(7, 8);
    height: 100%;
  }

  &__arrows {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: subcol(1, 8);
    padding-top: 1.5rem;
    padding-left: 1rem;
  }

  &__slider {
    overflow: hidden;
    width: 100%;
    padding : 3.2rem 0;
    opacity: 0;
    transition: transform $anim-duration * 3 $anim-easing 350ms, opacity $anim-duration * 3 $anim-easing 350ms;
    transform: scale(.9);
    transform-origin: center center;
  }

  .m-slider {
    &__container {
      position: relative;
      transform: none !important;
    }

    &__slide {
      top: 50%;
      right: 0 !important; /* override Embla */
      left: 0 !important; /* override Embla */
      height: 35rem;
      opacity: .5;
      pointer-events: none;
      transform: translateY(-50%);

      // transition: opacity $anim;

      .a-blockquote {
        // transition: transform $anim;
        transition: transform $anim-duration $anim-easing 600ms;
      }

      &.is-selected {
        z-index: 1;
        opacity: 1;
        pointer-events: all;

        .a-blockquote {
          transform: rotate(0deg);
        }
      }
    }
  }

  .is-ready .m-slider__slide {
    position: absolute;
  }

  &.is-inview & {
    &__slider {
      opacity: 1;
      transform: scale(1);
    }
  }

  &.is-inview {
    &::before {
      opacity: 1;
      transform: scale(1);
    }

    .m-slider {
      &__slide {
        .a-blockquote {
          transition: transform $anim-duration $anim-easing;
          transform: rotate(5deg);
        }

        &.is-selected {
          .a-blockquote {
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  @media #{$md} {
    gap: $column-gutter;

    .m-slider {
      &__slide {
        height: 30rem;
      }
    }

    &__arrows {
      padding-left: 0;
    }
  }
}
