.t-case {
  max-width: 87.5rem;
  margin: 0 auto;
  padding-top: 0;

  &__inner {
    display: flex;
    align-items: flex-start;
  }

  &__share {
    position: sticky;
    top: 0;
    width: subcol(2, 8);
    padding: 4rem;

    .a-button {
      margin-left: auto;
    }
  }

  &__content {
    width: subcol(6, 8);
    padding: 0 4rem;
  }
}
