.t-case {
  max-width: calc(87.5rem + 12rem);
  margin: 0 auto;
  padding-top: 0;

  &__content {
    padding: 0 2rem;
  }

  &__share {
    padding: 2rem;
  }

  &__creators {
    .a-button {
      width: 100%;

      &[disabled] {
        opacity: 1;
      }
    }
  }

  @media #{$md} {
    &__content {
      width: subcol(6, 8);
      padding: 0 0 0 4rem;
    }

    &__inner {
      display: flex;
      align-items: flex-start;
    }

    &__share {
      position: sticky;
      top: 0;
      width: subcol(2, 8);
      padding: 4rem;

      .a-button {
        margin-left: auto;
      }
    }
  }
}
