.t-contact {
  max-width: 48rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
  }

  @media #{$md} {
    &__content {
      padding: 4rem;
    }
  }
}
