.t-contact {
  max-width: 48rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 4rem);
    padding: 2rem;
  }

  @media #{$md} {
    &__content {
      height: calc(100% - 8rem);
      padding: 4rem;
    }
  }
}
