.t-contact {
  max-width: 48rem;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100% - 4rem);
    padding: 6rem 2rem 2rem;
  }

  @media #{$sm-only} {
    .m-cardLink + .m-cardLink {
      margin-top: 0;
    }
  }
  @media #{$md} {
    &__content {
      height: calc(100% - 8rem);
      padding: 4rem;
    }
  }
}
