.t-creators {
  &__page {
    padding: 3rem 0 10rem;
    background-color: clr(cgray);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $column-gutter;
  }

  &__filters {
    margin-top: -5.5rem;
  }
}
