.t-creators {
  &__page {
    padding: 3rem 0 10rem;
    background-color: clr(cgray);
  }

  &__list {
    display: grid;
    gap: $column-gutter;

    .word {
      transform: translateY(0);
    }
  }

  &__filters {
    margin-top: -5.5rem;
  }

  @media #{$md} {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
