.t-creator {
  max-width: calc(43rem + 12rem);

  &__content {
    padding: 2rem;
  }

  &__socials {
    display: grid;
    gap: 1rem;
    margin: 4rem 0;

    a {
      width: 100%;
    }
  }

  .m-tags {
    margin-bottom: 2.5rem;
  }

  @media #{$md} {
    &__content {
      padding: 4rem;
    }

    &__socials {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
