.t-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 16rem);
  padding: 0;

  + .o-footer {
    display: none;
  }

  @media #{$lg} {
    &__title {
      font-size: 28rem;
    }
  }
}
