.t-home {
  &__about {
    position: relative;

    &--content {
      margin-top: 6rem;
    }

    .a-ratio {
      overflow: hidden;
      border-radius: $radius;
    }

    .a-button {
      position: absolute;
      top: calc(100% - 5rem);
      right: $column-gutter;
    }
  }

  &__case {
    position: relative;
    padding: 6rem 0;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: col(10);
      height: 54%;
      border-bottom-left-radius: $radius;
      background-color: var(--primary-light);
    }

    &--list {
      display: grid;
      gap: 2rem;
      margin-top: 6rem;
    }

    &--cta {
      display: flex;
      gap: 3rem;
      align-items: center;

      p {
        color: var(--primary);
        font-weight: 500;
        font-size: 1.6rem;
      }
    }
  }

  @media #{$md} {
    &__about {
      &[class*=column-]:not(.-nest) {
        padding-right: 0;
      }

      &--content {
        margin-top: 10rem;
      }

      .a-button {
        top: 50%;
        right: -5rem;
        transform: translateY(-50%);
      }
    }

    &__case {
      &::before {
        top: 0;
        bottom: auto;
        width: 45.833%;
        height: 100%;
      }

      &--list {
        margin-top: 0;
      }
    }
  }
}
