.t-home {
  &__about {
    position: relative;

    &--content {
      margin-top: 6rem;
    }

    .a-ratio {
      overflow: hidden;
      border-radius: $radius;
      opacity: 0;
      transition: transform $anim-duration * 3 $anim-easing, opacity $anim-duration * 4 $anim-easing;
      transform: scale(.95);
      transform-origin: center center;
    }

    .a-button {
      position: absolute;
      top: calc(100% - 5rem);
      right: $column-gutter;
    }

    &.is-inview {
      .a-ratio {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__case {
    position: relative;
    padding: 0 0 6rem;

    &--list {
      display: grid;
      gap: 2rem;
      margin-top: 4rem;
      padding: 4rem 0;
    }

    &--cta {
      display: flex;
      gap: 3rem;
      align-items: center;

      p {
        color: var(--primary);
        font-weight: 500;
        font-size: 1.6rem;
      }
    }

    li {
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          transition: transform $anim-duration * 3 $anim-easing (400ms * calc($i / 3)), opacity $anim-duration * 3 $anim-easing (400ms * calc($i / 3));
        }
      }

      opacity: 0;
      transform: scale(.7);
      transform-origin: center center;
    }

    &.is-inview {
      &::before {
        opacity: 1;
        transform: scale(1);
      }

      .t-home__case--list {
        &::before {
          opacity: 1;
          transform: scale(1);
        }
      }

      li {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  @media #{$sm-only} {
    &__case {
      &--list {
        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          width: col(10);
          height: calc(100% - 4rem);
          border-bottom-left-radius: $radius;
          background-color: var(--primary-light);
          opacity: 0;
          transition: transform $anim-duration * 3 $anim-easing, opacity $anim-duration * 3 $anim-easing;
          transform: scale(.7);
          transform-origin: center center;
        }
      }
    }
  }

  @media #{$md} {
    &__about {
      &[class*=column-]:not(.-nest) {
        padding-right: 0;
      }

      &--content {
        margin-top: 10rem;
      }
    }

    &__case {
      padding: 6rem 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 45.833%;
        height: 100%;
        border-bottom-left-radius: $radius;
        background-color: var(--primary-light);
        opacity: 0;
        transition: transform $anim-duration * 3 $anim-easing, opacity $anim-duration * 3 $anim-easing;
        transform: scale(.7);
        transform-origin: center center;
      }
    }
  }

  @media #{$lg} {
    &__about {
      .a-button {
        top: 50%;
        right: -5rem;
        transform: translateY(-50%);
      }
    }

    &__case {
      &--list {
        margin-top: 0;
        padding: 0;
      }
    }
  }
}
