.t-home {
  &__case {
    position: relative;
    padding: 6rem 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 45.833%;
      height: 100%;
      border-bottom-left-radius: $radius;
      background-color: var(--primary-light);
    }

    &--list {
      display: grid;
      gap: 2rem;
    }

    &--cta {
      display: flex;
      gap: 3rem;
      align-items: center;

      p {
        color: var(--primary);
        font-weight: 500;
        font-size: 1.6rem;
      }
    }
  }

  &__about {
    position: relative;

    &[class*=column-]:not(.-nest) {
      padding-right: 0;
    }

    &--content {
      margin-top: 10rem;
    }

    .a-ratio {
      overflow: hidden;
      border-radius: $radius;
    }

    .a-button {
      position: absolute;
      top: 50%;
      right: -5rem;
      transform: translateY(-50%);
    }
  }
}
