.m-accordion {
  position: relative;

  &__scroll {
    --heightscroll: 0;

    position: absolute;
    top: 100%;
    right: 0;
    z-index: 5;
    overflow: hidden;
    width: 100%;
    height: var(--heightscroll);
    transition: height $anim;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: clr(cgray);
    transition: border-radius $anim $anim-duration;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    border-radius: 0 0 10px 10px;
    background-color: clr(cgray);
  }

  &.-active & {
    &__title {
      border-radius: 10px 10px 0 0;
      transition: border-radius 0ms;
    }
  }
}
