.m-cardLink {
  position: relative;
  padding: 2rem;
  border-radius: 20px;
  background-color: clr(cwhite);
  text-decoration: none;

  .icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--primary);
  }

  + .m-cardLink {
    margin-top: 2rem;
  }

  &.-primary {
    display: flex;
    gap: 1rem;
    background-color: var(--primary);

    p {
      flex: 0 0 calc(100% - 4.8rem);
      width: calc(100% - 4.8rem);
    }

    .icon {
      position: initial;
      width: 3.8rem;
      height: 3.8rem;
      color: clr(cwhite);
    }
  }
}
