.m-case {
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
  text-decoration: none;

  &__thumb {
    flex: 0 0 11rem;
    width: 11rem;
  }

  &__content {
    position: relative;
    flex: 0 0 calc(100% - 11rem);
    width: calc(100% - 11rem);
    padding: 2.8rem 2.6rem;
    background-color: clr(cwhite);
  }

  &__arrow {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--primary);
  }
}
