.m-creator {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;

  &__thumb {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 70%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 30%;
    min-height: 15rem;
    padding: 2rem;
    background-color: clr(cwhite);
    transform-origin: top left;

    .m-tags {
      margin-top: auto;
    }
  }

  .m-cursorThumb {
    overflow: hidden;
    height: 100%;

    .a-ratio {
      overflow: hidden;
      height: 100%;
    }
  }

  &:not(.-no-anime) {
    .m-cursorThumb {
      transform: translate(0, 100%);
      will-change: transform;

      .a-ratio {
        transform: translate(0, -100%);
        will-change: transform;
      }
    }
  }

  .a-h3 {
    // margin-top: -1.2rem;
    line-height: .9;

    .line {
      // padding: 0;

      + .line {
        margin-top: 0;
      }
    }

    // + .line {
    //   margin-top: -2.4rem;
    // }
  }

  .line .word {
    padding: .6rem 0;
  }

  .line, .word {
    display: inline-block;
  }

  @media #{$md} {
    height: 100%;
  }
}
