.m-creator {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  // height: 100%;
  border-radius: 10px;

  &__thumb {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 36rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 18rem;
    padding: 2rem;
    background-color: clr(cwhite);
    transform-origin: top left;

    .m-tags {
      margin-top: auto;
    }
  }

  .m-cursorThumb {
    overflow: hidden;
    height: 100%;
    transform: translate(0, 100%);
    will-change: transform;

    .a-ratio {
      overflow: hidden;
      height: 100%;
      transform: translate(0, -100%);
      will-change: transform;
    }
  }

  .a-h3 {
    line-height: .9;
  }

  .line, .word {
    display: inline-block;
  }
}
