.a-blockquote {
  padding: 5rem 4rem 4rem;
  border-radius: 10px;
  background-color: clr(cwhite);

  blockquote {
    margin-bottom: 4rem;

    &::before {
      content: "“";
      display: block;
      margin-bottom: 1rem;
      color: var(--primary);
      font-weight: 700;
      font-size: 4rem;
      line-height: 0;
    }

    p {
      font-weight: 400;
      font-size: 2rem;
    }
  }

  figcaption {
    color: var(--primary);
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  @media #{$md} {
    blockquote {
      p {
        font-size: 2.6rem;
      }
    }
  }
}
