.a-buttonFilter {
  position: relative;
  display: inline-flex;
  gap: 1.5rem;
  overflow: hidden;
  padding: 2rem;
  border: 0;
  border-radius: 10px;
  background-color: clr(cwhite);
  color: var(--primary);
  box-shadow: none;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: $font-regular;
  line-height: 1.25;
  text-decoration: none;
  cursor: pointer;
  transition: background-color $anim, color $anim;

  @media (hover: hover) and (any-pointer: fine) {
    &:hover {
      background-color: var(--primary);
      color: clr(cwhite);
    }
  }
}
