.a-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 1.2rem 2rem;
  border: 0;
  border-radius: 10px;
  box-shadow: none;
  font-weight: 700;
  font-size: 1.4rem;
  font-family: $font-regular;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color $anim, color $anim;

  &.-primary {
    background-color: var(--primary);
    color: clr(cwhite);

    @media (hover: hover) and (any-pointer: fine) {
      &:hover {
        background-color: clr(cgray);
        color: var(--primary);
      }
    }
  }

  &.-secondary {
    background-color: clr(cgray);
    color: clr(cblack);

    @media (hover: hover) and (any-pointer: fine) {
      &:hover {
        background-color: clr(cblack);
        color: clr(cgray);
      }
    }
  }

  &.-tertiary {
    background-color: clr(cwhite);
    color: var(--primary);

    @media (hover: hover) and (any-pointer: fine) {
      &:hover {
        background-color: var(--primary);
        color: clr(cwhite);
      }
    }
  }

  &.-round {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    width: 10rem;
    height: 10rem;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: clr(cwhite);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: var(--primary);
      opacity: 1;
      transition: transform $anim, opacity $anim, background-color $anim;
      transform: scale(1);
    }

    span {
      position: relative;
      z-index: 1;
    }

    &.-center {
      margin: 0 auto;
    }

    &.-big {
      width: 18rem;
      height: 18rem;
      font-size: 1.6rem;
    }

    &.-medium {
      width: 8rem;
      height: 8rem;
      font-size: 1.2rem;
    }

    &.-small {
      width: 6rem;
      height: 6rem;
      font-size: 1.2rem;
    }

    &.-white {
      color: var(--primary);

      &::before {
        background-color: clr(cwhite);
      }

      @media (hover: hover) and (any-pointer: fine) {
        &:hover {
          color: clr(cwhite);

          &::before {
            background-color: var(--primary);
          }
        }
      }
    }

    @media (hover: hover) and (any-pointer: fine) {
      &:hover {
        &::before {
          opacity: .8;
          transform: scale(1.2);
        }
      }
    }
  }

  &.-inline {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    text-transform: none;

    .icon {
      width: 1rem;
      height: 1rem;
    }

    &.-small {
      padding: 1rem;
      background-color: clr(cwhite);
      color: clr(cblack);
      font-size: 1.6rem;

      .icon {
        transition: color $anim;
      }

      @media (hover: hover) and (any-pointer: fine) {
        &:hover {
          background-color: clr(cgray);

          .icon {
            color: var(--primary);
          }
        }
      }
    }

    &.-xsmall {
      padding: 0;
      border-radius: 0;
      color: clr(cblack);
      font-size: 1.4rem;
      transition: color $anim;

      @media (hover: hover) and (any-pointer: fine) {
        &:hover {
          color: var(--primary);
        }
      }
    }
  }

  &.-disabled, &[disabled] {
    opacity: .3;
    cursor: default;
  }
}
